snippet DA "argument markup" A
<A>$0</A>
endsnippet

snippet DC  "GAPDoc code markup" A
<C>$0</C>
endsnippet

snippet DM  "GAPDoc math markup" A
<M>$0</M>
endsnippet

snippet DK  "GAPDoc keyword markup" A
<K>$0</K>
endsnippet

snippet DFI "GAPDoc Ref=Filt" A
<Ref Filt="$0"/>
endsnippet

snippet DFU "GAPDoc Ref=Func" A
<Ref Func="$0"/>
endsnippet

snippet DFA "GAPDoc Ref=Fam" A
<Ref Fam="$0"/>
endsnippet

snippet DEX "GAPDoc Example" A
<Example><![CDATA[
$0
]]></Example>
endsnippet
